<a href="https://colab.research.google.com/github/ceabrett/tf_course/blob/master/w1_hard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicting whether a light is on or off

I have collected the data for one of my lights over a period of about 2 months. In this exercise we will train a tensorflow model to predict the state of the light from the following featuers:
* hour of the day
* day of the week
* minutes since the last state change in the home (log scaled)
* miuntes since the last utterance in the home (log scaled)
* the elevation of the sun (scaled between -1 and -1)
* mean onoff state (the proportion of other lights in the home that are on)

In [2]:
# make the dataset accessible to this notebook
!git clone https://github.com/ceabrett/tf_course.git

# load the dataset into a pandas dataframe and show the beginning of the dataset
import pandas as pd
df = pd.read_csv("tf_course/data.csv")
df.head()

fatal: destination path 'tf_course' already exists and is not an empty directory.

,dow_f,hour_f,log_mins_since_any_onoff,log_mins_since_utt,mean_onoff_state,state,sun_elevation
0,3.666667,16.00,3.418493,6.053619,0.2,1,0.024071
1,3.677083,16.25,3.818226,6.088252,0.2,1,0.004045
2,3.687500,16.50,4.103030,6.121726,0.2,1,-0.016666
3,3.697917,16.75,4.324442,6.154116,0.2,1,-0.047375
4,3.708333,17.00,1.963954,1.368262,0.4,1,-0.073805

**Exercise:** Predict state with as high accuracy as possible. 

The baseline accuracy (from picking randomly) is 0.5. Above 0.8 is possible.